{% extends "base.html" %}

{% block title %} Curso de JavaScript {% endblock %}

{% block content %}
    <h3>Fecha: {{current_date}}</h3>
    <p>JavaScript es un lenguaje de programación interpretado, dialecto del estándar ECMAScript. Se define como orientado a objetos, basado en prototipos, imperativo, débilmente tipado y dinámico.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ivdTnPl1ND0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
{% endblock %}